@page "/coffee/menue"
@namespace FinalCoffee1.Pages.coffee
@using FinalCoffee1.Modules.Coffee.model;
@using FinalCoffee1.Modules.Admin.model;
@using FinalCoffee1.Modules.Admin.service;
@using FinalCoffee1.common.helperServices;
@using FinalCoffee1.Modules.Coffee.service;
@using FinalCoffee1.Pages.coffee;
@using FinalCoffee1.Pages.admin;
@using System.Diagnostics
@inject AdminService adminService;
@inject NotificationService notificationService;
@inject SessionService sessionService;
@inject CoffeeService coffeeService;
<h3>Menue</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>CoffeeType</th>
            <th>Size</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (coffeesList != null && coffeesList.Count > 0)
        {
            @foreach (var coffee in coffeesList)
            {
                <tr>
                    <td>@coffee.Name</td>
                    <td>@coffee.CoffeeType</td>
                    <td>@coffee.Size</td>
                    <td>@coffee.Price</td>
                    <td>
                        <button @onclick="() => OpenEditModel(coffee)" class="edit-button">Edit</button>
                        <button @onclick="()=>deleteCoffee(coffee)" class="delete-button">Delete</button>
                        @if (showEditModel)
                        {
                            <div class="modal" tabindex="-1" role="dialog" style="display:block;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add Coffee</h5>
                                        </div>
                                        <div class="modal-body">
                                            <CoffeeInput ButtonLabel="Edit Coffee" Model="coffeeModel" OnSubmit="editCoffee"
                                                message="notificationService.Message"
                                                messageClass="notificationService.messageClass"></CoffeeInput>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (!isAuthorization)
{
    <button type="button" class="btn btn-primary" @onclick="OpenAddModal">Add Coffee</button>
    @if (showAddModal)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Coffee</h5>
                    </div>
                    <div class="modal-body">
                        <CoffeeInput ButtonLabel="Add Coffee" Model="coffeeModel" OnSubmit="addCoffee"
                            message="notificationService.Message" messageClass="notificationService.messageClass"></CoffeeInput>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (isAuthorization && (sessionService.defaultNeedAuthorized()))
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Admin Login</h5>
                </div>
                <div class="modal-body">
                    <AdminForm ButtonLabel="Log in" Model="CommonModel" OnSubmit="Login" message="@message"
                        messageClass="@messageClass"></AdminForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="authorized">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private string? message = "";
    private CoffeeModel editCoffeeModel;
    private string? messageClass = "";
    CommonModel CommonModel = new CommonModel();
    bool isAuthorization = false;
    bool showAddModal = false;
    bool showEditModel = false;
    CoffeeModel coffeeModel = new CoffeeModel();
    List<CoffeeModel>? coffeesList = new List<CoffeeModel>();
    protected async override void OnInitialized()
    {
        notificationService.Clear();
    }
    protected async override Task OnParametersSetAsync()
    {
        coffeesList = await coffeeService.getCoffeeList();
    }
    public bool NeedAuthentication()
    {
        if (sessionService.defaultNeedAuthorized())
        {
            isAuthorization = true;
            return true;
        }
        else
        {
            return false;
        }
    }
    public async void deleteCoffee(CoffeeModel coffee)
    {
        var result = await coffeeService.deleteCoffee(coffee.Id);
        if (result.Success)
        {
            coffeesList.Remove(coffee);
            StateHasChanged();
        }
        else
        {
            notificationService.Notify(result.Message, "success-message");
        }
    }
    public async void addCoffee()
    {
        var noneedAuth = this.NeedAuthentication();
        if (!noneedAuth)
        {
            Trace.WriteLine("Now You Can Add Coffee");
            var result = await coffeeService.addCoffee(coffeeModel);
            notificationService.Notify(result.Message, "success-message");
            notificationService.Clear();
            Trace.WriteLine("This is Result: " + notificationService.Message);
            coffeesList = await coffeeService.getCoffeeList();
            sessionService.setNeedAuthorized(false);
            CloseModal();
            StateHasChanged(); //Because UI is not able to fetch coffee so we need to make it sure it will fetch the added coffees.
        }

    }
    public async void editCoffee()
    {
        var noneedAuth = this.NeedAuthentication();
        if (!noneedAuth)
        {
            var result = await coffeeService.editCoffee(coffeeModel.Id, coffeeModel);
            notificationService.Notify(result.Message, "success-message");
            coffeesList = await coffeeService.getCoffeeList();
            CloseModal();
            StateHasChanged();
        }
    }
    public void authorized()
    {
        isAuthorization = false;
    }
    //This is comment
    public async Task Login()
    {
        var result = await adminService.Login(CommonModel);
        if (result.Success)
        {
            sessionService.setNeedAuthorized(false);
            isAuthorization = false;
            message = result.Message;
            messageClass = "success-message";
            authorized();
        }
        else
        {
            message = result.Message;
            messageClass = "error-message";
        }
    }
    public void OpenAddModal()
    {
        showAddModal = true;

    }
    public void OpenEditModel(CoffeeModel coffee)
    {
        coffeeModel = coffee;
        showEditModel = true;
    }

    public void CloseModal()
    {
        showAddModal = false;
        showEditModel = false;
    }
}
