@namespace FinalCoffee1.Pages.admin
@using FinalCoffee1.Modules.Admin.model
@using FinalCoffee1.Common.model
<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <p class="@messageClass">@message</p>
        <label for="username">Username:</label>
        <input required id="username" @bind="Model.Username" />
        <ValidationMessage For="@(() => Model.Username)" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input required id="password" type="password" @bind="Model.Password" />
        <ValidationMessage For="@(() => Model.Password)" />
    </div>
    <button type="submit">@ButtonLabel</button>
</EditForm>
@code {
    [Parameter]
    public string? ButtonLabel { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public CommonModel Model { get; set; } = new CommonModel();
    [Parameter]
    public string? message { get; set; }
    [Parameter]
    public string? messageClass { get; set; }

}